.github{
    padding:120px 0;
    background:
        radial-gradient(circle at left,
        rgba(255,255,255,.05),
        transparent 40%),
        #050505;
}

.github-card{

    display:flex;
    align-items:center;
    gap:60px;

    background:#101010;

    border:1px solid #222;

    border-radius:24px;

    padding:50px;

    transition:.35s;
}

.github-card:hover{

    transform:translateY(-10px);

    border-color:#fff;

    box-shadow:0 0 35px rgba(255,255,255,.08);
}

.github-logo{

    width:170px;
    height:170px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#111;

    border:2px solid #333;

    font-size:82px;

    color:#fff;

    transition:.35s;
}

.github-card:hover .github-logo{

    transform:rotate(-8deg) scale(1.05);

}

.github-content{

    flex:1;
}

.github-content h3{

    color:#fff;

    font-size:38px;

    margin-bottom:18px;
}

.github-content p{

    color:#9ca3af;

    line-height:1.9;

    margin-bottom:30px;
}

.github-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-bottom:35px;
}

.github-tags span{

    padding:10px 18px;

    background:#191919;

    border:1px solid #2c2c2c;

    border-radius:999px;

    color:#fff;

    font-size:13px;

    transition:.3s;
}

.github-tags span:hover{

    border-color:#fff;

    transform:translateY(-2px);
}

.github-stats{

    display:flex;

    gap:25px;

    margin-bottom:35px;
}

.stat-box{

    width:150px;

    padding:22px;

    background:#171717;

    border-radius:16px;

    text-align:center;

    transition:.3s;
}

.stat-box:hover{

    transform:translateY(-4px);
}

.stat-box svg{

    font-size:28px;

    color:#fff;

    margin-bottom:10px;
}

.stat-box h4{

    color:#fff;

    margin-bottom:8px;
}

.stat-box span{

    color:#E50914;

    font-size:28px;

    font-weight:700;
}

.github-btn{

    display:inline-flex;

    align-items:center;

    gap:12px;

    padding:16px 30px;

    background:#fff;

    color:#111;

    text-decoration:none;

    border-radius:14px;

    font-weight:700;

    transition:.35s;
}

.github-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 0 25px rgba(255,255,255,.25);
}

@media(max-width:900px){

.github-card{

    flex-direction:column;

    text-align:center;
}

.github-tags,
.github-stats{

    justify-content:center;

    flex-wrap:wrap;
}

.github-logo{

    width:140px;
    height:140px;

    font-size:70px;
}

}