.projects{
    padding:120px 0;
    background:#050505;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:30px;
    margin-top:60px;
}

.project-card{
    background:#101010;
    border:1px solid #222;
    border-radius:20px;
    padding:30px;
    transition:.35s;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color:#E50914;
    box-shadow:0 0 30px rgba(229,9,20,.2);
}

.project-icon{
    font-size:40px;
    color:#E50914;
    margin-bottom:20px;
}

.project-card h3{
    color:#fff;
    margin-bottom:15px;
}

.project-card p{
    color:#aaa;
    line-height:1.8;
    margin-bottom:20px;
}

.project-tech{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.project-tech span{
    background:#1d1d1d;
    color:#fff;
    padding:8px 12px;
    border-radius:30px;
    font-size:13px;
}

.project-links{
    display:flex;
    justify-content:space-between;
}

.project-links a{
    color:#E50914;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:8px;
}