.skills{

padding:120px 0;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:25px;

}

.skill-card{

background:#101010;

padding:30px;

border-radius:20px;

border:1px solid #222;

transition:.35s;

}

.skill-card:hover{

transform:translateY(-8px);

border-color:#E50914;

}

.skill-card h3{

margin-bottom:10px;

font-size:22px;

}

.skill-card span{

color:#999;

display:block;

margin-bottom:20px;

}

.progress{

height:8px;

background:#1d1d1d;

border-radius:20px;

overflow:hidden;

margin-bottom:18px;

}

.progress-fill{

height:100%;

background:#E50914;

border-radius:20px;

}